body{
	background: #f1f1f1;
	font-family: Open Sans,sans-serif;
	font-size: 14px;
}
.content-login{
	padding-top: 8%;margin: auto;width: 342px;height: auto;
}
#title{
	color: #0074a2;
}
.content-form-login{
	background: #fff; 
	height:278px;
	border: 1px solid #d3d3d3;
	border-radius: 4px;
	padding: 15px;
}
.input-form{
	margin-bottom: 10px;
	line-height: 20px;
}
.content-form-login input{
	width: 100%;
	height: 30px;
	border: 1px solid #cfcfcf;
	border-radius: 4px;
	font-family: 'Verdana';
	font-size: 12px;
	font-weight: normal;
	color: #000;
}
.content-form-login input[type=submit]{
	float: right;
	height: 28px;
	background: #2ea2cc;
	border-color: #0074a2;
	width: 66px;
	color: #fff;
	border-radius: 4px;
}
#signup-now{
	color: #0074a2;
}