body{}
.container{
    width: 100%;
    height: auto;
}
/* Phan header ---------------------------------------------------------------------*/
.container .header{
    height: 145px;
    width: 100%;
    background: #f1f1f1;
    border-bottom: 2px solid #d3d3d3;
}
.container .header .content-header{
    height: auto;
    width: 1077px;
    margin: 0px auto;
}
.container .header .content-header p.text-header{
    padding-top: 48px;
    font-family: sans-serif;
    font-size: 45px;
    color: #505050;
    font-weight: normal;
    float: left;
}
.container .header .content-header .menu{
    float: right;
    padding-top: 58px;
}
.container .header .content-header .menu ul{
    list-style: none;
    float: left;
    position: relative;
}

.container .header .content-header .menu ul li{
    float: left;
    padding: 0px 0px;
    height: 49px;
    width: 102px;
}
.container .header .content-header .menu ul li a.link-menu{
    text-decoration: none;
    font-family: myriad pro;
    color: #505050;
    text-align: center;
    font-size: 18px;
    padding: 10px 10px;
    display: block;
    font-weight: normal;   
}
.container .header .content-header .menu ul li a.home-menu{
    background: white;
    border: 1px solid #d3d3d3;
    display: block;
    border-radius: 8px;
}
.container .header .content-header .menu ul li a.link-menu:hover{
    background: white;
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    color: brown;
}
/* Phan header ---------------------------------------------------------------------*/
/* Phan login ---------------------------------------------------------------------*/
.container .header .content-header .menu ul li .drop-content{
    width: 235px;
    background: #fff;
    position: absolute;
    border-radius: 4px;
    display: none;
    border: 1px solid #d3d3d3;
    height: auto;
}
.container .header .content-header .menu ul li:hover .drop-content{
    display: block;
}
.container .header .content-header .menu ul li .drop-content .nav-drop{
    padding: 15px 15px 15px 15px;
}
.container .header .content-header .menu ul li .drop-content .nav-drop .username{
    height: auto;
    width: 100%;
    margin-bottom: 10px;
}
.container .header .content-header .menu ul li .drop-content .nav-drop .username label{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.container .header .content-header .menu ul li form.form-login input[type = "text"]{
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    width: 100%;
    height: 25px;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    color: #000;
}
.container .header .content-header .menu ul li form.form-login input[type = "password"]{
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    width: 100%;
    height: 25px;
    font-family: 'Verdana';
    font-size: 12px;
    font-weight: normal;
    color: #000;
}
.container .header .content-header .menu ul li .drop-content .nav-drop .check-pass{
    font-size: 13px;
    font-family: sans-serif;
    font-weight: normal;
    margin-bottom: 10px;
}
.container .header .content-header .menu ul li .drop-content .nav-drop .check-pass a{
    float: right;
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-family: sans-serif;
    color: #000;
    font-weight: normal;
}
.container .header .content-header .menu ul li .drop-content .nav-drop .check-pass a:hover{
    color: brown;
}
.container .header .content-header .menu ul li form.form-login input[type = "submit"]{
    height: 28px;
    width: 65px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #e6e6e6;
    cursor: pointer;
    font-weight: bold;
}
.container .header .content-header .menu ul li form.form-login input[type = "submit"]:hover{
    background: #d3d3d3;
}
/* Phan login ---------------------------------------------------------------------*/
/* Phan navigation ---------------------------------------------------------------------*/
.container .navigation{
    width: 100%;
    height: auto;
    background: #f1f1f1;
}
.container .navigation .slide{
    height: 425px;
    width: 914px;  
    margin: 0px auto;
}
.content-slide{
    padding: 35px 0px 10px 0px;
}

.container .navigation .nav-slide-1{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #d3d3d3;
}
.container .navigation .nav-slide-2{
    width: 100%;
    overflow: hidden;
    height: auto;
    padding-bottom: 25px;
    border-top: 1px solid white;
}
.container .navigation .slide img.img-slide{  
    height: 350px;
    width: 914px;
    box-shadow: 0px 7px 20px 10px #888;
    border-radius: 5px;
}
.container .navigation .content-nav{
    height: auto;
    width: 1077px;
    /* display: block; */
    margin: 0px auto;

}
.container .navigation .content-nav p.description{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #595959;
    width: 918px;
    height: 57px;
    float: left;
    padding: 23px 0px;
}
.container .navigation .content-nav a.link-view:hover{
    background: #e6e6e6;
    box-shadow: none;
    color: #fff;
}
.container .navigation .content-nav a.link-view{
    float: right;
    display: block;
    background: #f3f3f3;
    height: 27px;
    border-radius: 13px;
    width: 145px;
    margin-top: 28px;
    padding-top: 14px;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #878787;
    border: 1px solid #dedede;
    box-shadow: 0px 10px 1px -3px #d3d3d3;
}
.container .navigation .content-nav ul.news{
    height: auto;
    width: 100%;   
    /* padding-bottom: 10px; */
}
.container .navigation .content-nav ul.news li.item-news{
    width: 330px;
    height: auto;
    float: left;
}
.container .navigation .content-nav ul.news li.item-right{
    float: right;
}
.container .navigation .content-nav ul.news li.item-center{
    margin: 0px 43px;
}
.container .navigation .content-nav ul.news li.item-news img.img-news{
    width: 330px;
    height: 152px;
}
.container .navigation .content-nav ul.news li.item-news a.title-news{
    font-family: sans-serif;
    font-size: 19px;
    font-weight: normal;
    padding-bottom: 11px;
    display: block;
    /* height: 80px; */
    color: #595959;
    text-decoration: none;
}

.container .navigation .content-nav ul.news li.item-news p.content-news{
    color: #505050;
    font-family: arial;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
}
.item-news-top:last-child {
    color: red;
    margin-top:  10px;
}
.morecontent {
    display: none;
}
.morelink {
    display: block;
}
/* Phan navigation ---------------------------------------------------------------------*/



/* Phan Footer ---------------------------------------------------------------------*/
.container .footer{
    width: 100%;
    height: auto;
    background: #353535;
    text-align: left;
}
.container .footer .content-footer{
    width: 1077px;
    height: 300px;
    margin: 0px auto;
}
.container .footer .content-footer ul.ul-footer{
    height: auto;
    width: 100%;
    padding-top: 23px;
}
.container .footer .content-footer ul.ul-footer li.item-footer{
    float: left;
    width: 250px;
}
.container .footer .content-footer ul.ul-footer li.footer-center{
    margin-left: 24px;
    float: left;
}
.container .footer .content-footer ul.ul-footer li.footer-right{
    float: right;
}
.container .footer .content-footer ul.ul-footer li.item-footer ul.content-item-footer {
    height: auto;
    width: 100%;
}
.container .footer .content-footer ul.ul-footer li.item-footer ul.content-item-footer li{ 
    border-bottom: 1px solid black;
    border-top: 1px solid #595959;   
    padding: 12px 0px;   
}
.container .footer .content-footer ul.ul-footer li.item-footer ul.content-item-footer li:last-child{
    border-bottom: none;
}
.container .footer .content-footer ul.ul-footer li.item-footer ul.content-item-footer li:first-child{
    border-top: none;
}
.container .footer .content-footer ul.ul-footer li.item-footer ul.content-item-footer li a.title-footer{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
}
.container .footer .content-footer ul.ul-footer li.item-footer ul.content-item-footer li a.title-footer:hover{
    color: red;
}
.container .footer .content-footer ul.ul-footer li.item-footer p.title-news-footer{    
    color: white;
    font-family: arial;
    font-size: 22px;
    font-weight: normal;
}
.container .footer .content-footer ul.ul-footer li.item-footer p.text-footer{    
    color: white;
    padding-bottom: 5px; 
    line-height: 21px;
    font-family: arial;
    font-size: 13px;
    font-weight: normal;
}
.container .footer .content-footer ul.ul-footer li.item-footer .form-submit{
    height: 49px;
    width: 100%;
    background: #252525;
    border-radius: 11px;    
    border-bottom: 1px solid #595959;
}
.container .footer .content-footer ul.ul-footer li.item-footer .form-submit input.input-text{
    background: transparent;
    border: 0px;
    height: 28px;
    margin-top: 11px;
    width: 143px;   
    color: #fff;
}
.container .footer .content-footer ul.ul-footer li.item-footer .form-submit input.submit{
    height: 35px;
    width: 91px;
    border-radius: 6px;
    margin-left: 4px;
    cursor: pointer;
}
#top{
    border:1px solid #4adcff;
    background:#24bde2;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:35px;
    right:10px;
    cursor:pointer;
    display:none;
    color:#fff;
    font-size:11px;
    font-weight:900;
    }
#top:hover{
    border:1px solid #ffa789;background:#ff6734;
}
#signup{
    color:#0074a2 ;
    font-size: 18px;
     font-weight:bold; 
     padding-right:10px;
     float: right;
}
/* Phan Footer ---------------------------------------------------------------------*/
.menu-left{margin:0px 0px auto; width: 295px;float: left;}
.menu-left ul{
         width:100%;
         background:#f1f1f1;        
}
.menu-left ul li{
         list-style:none;
         border: 1px groove;
}
.menu-left ul li a{
         display:block;
         color:#000080;
         text-indent:15px;
         line-height:50px;
         text-decoration: none;
         font-family: sans-serif,arial,helvetica;
         font-weight: bold;
}
.menu-left ul a:hover{
         color:#FFF;
         font-weight:bold;
         background:#18aa06;
}

.menu-left  h1{
         width:100%;
         background:#5093e4;
         text-align:center;
         border-top-left-radius:40px; 
         border-top-right-radius: 40px;
}
.changepass{
    padding-top: 10px;
    height: auto;
    width: auto;
    font-size: 15px;
    font-family: sans-serif;
}
.form-changepass input{
    border-radius: 4px;
    height: 30px;
    width: 250px;
    margin: 10px;
}